{% load url from future %}
<h1>{{ obj.title }}</h1>
<p>{{ obj.content|linebreaks }}</p>
<p><a href="{{ obj.get_rate_url }}">Rate this object</a></p>
<h2>Current rating:</h2>
<dl>
    <dt>Average score:</dt>
    <dd>{{ obj.avg_score }}</dd>
    <dt>Standard deviation:</dt>
    <dd>{{ obj.std_dev }}</dd>
    <dt>Avg by subscore:</dt>
    <dd><table>
        {% for k, v in obj.avg_by_crit.items %}
        <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
        {% endfor %}
        </table>
    </dd>
</dl>
